@model SchoolMS.Models.SubmessionFee

@{
    ViewBag.Title = "Details";
}
<div class="card mb-4 shadow">
    <div class="card-header">
        Submission Fee Details
    </div>
    <div class="card-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.StudentPromotes.Students.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.StudentPromotes.Students.Name) ( @Html.DisplayFor(model => model.StudentPromotes.Students.StudentID) )
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.StudentPromotes.Annuals.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.StudentPromotes.Annuals.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MonthsModels.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthsModels.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Amount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Amount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SubmissionDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SubmissionDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Users.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Users.FullName)
            </dd>

        </dl>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Edit", "Edit", new { id = Model.SubmissionFeeID }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>
